@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

/*Atributos principais*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}



#default {
    background-color: #001022;
    background-image: linear-gradient(60deg, #240a61  ,#151F30  50%, #103778  100%); 
}

/* article {
    font-size:;
    margin-block-start: auto;
    margin-block-end:auto;
} */

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: rgb(61, 201, 84);
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

/*Abertura da pagina*/
#meu-github {
    padding-top: 10px;
    padding-left: 50px;
    color: aliceblue;
    display: flex;
    offset: 10px;
    font-size: 2rem;
    position:fixed;
    height: 100px;
    width: 250px;
    z-index: 2;
    opacity: .2;
    /* animation: 5s ease-out 4s reverse both running slidein; */
}

#meu-github:hover {
    user-select: none;
}

#github-icon{
    display: flex;
    position: fixed;
    height: 50px;
    width: 50px;
    display: block;
    z-index: 2;
    opacity: .5;

}

#back-top {
    border:rgba(20, 20, 20, .5);
    border-bottom-width: .2px;
    border-style: solid;
    color: #D98D30;
    font-size: 1rem;
    position: fixed;
    bottom: 50%; 
    left: 90%;
    top: 90%;
    z-index: 4;  
}

body {
     background-color: #001022;
    background-position: top left;
    background-repeat: no-repeat;
    visibility: hidden;
    animation: fade-out 2s forwards;
    animation-delay: 1s;
    z-index: 1; 
} 

/* Seção de apresentação */

#presentation {
    background-image: url(./coffee-brackground.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}


#presentation h1 {
    width: fit-content;
    height: fit-content;
    left:100%;
    font-size: 5rem;
    position: relative;
    display: block;
    color: transparent;
    animation: 1s slidein 2s ease forwards;
    animation-delay: 1.5s;
    z-index: 3;
}

#presentation h1.important-name {
    cursor: crosshair;
    transition-delay: s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {

    animation: text_reveal_name 1s ease-in-out forwards;
    animation-delay: 2.8s;
}

#presentation .cta {
    display: block;
    padding: 10px 15px;
    color: #D98D30;
    background-color: transparent;
    border: 1px solid #A64444;
    border-left-width: 10px;    
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /* margin-left: 20px; */
    margin-top: 5px;
    transition: .5s ease;
    transition-property: background-color, color;

}

#presentation .cta:hover {
    color: #D95204;
    font-weight: 500;
    background-color: #012340;
}

#presentation h1 span {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation:3s linear reverse 1s ease slidein;
    animation-delay: .5s;
    background-color: #8C4F6B;
}

@keyframes slidein {
0% {
    left: 100%;
}

    100% {
        left: 0%;
        color: white;
    }
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1 span {
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#001022;
    opacity: 0.7;
    z-index: -1;
}

/* Seção Sobre mim */




/* Seção de estilo geral */

.container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.aligned-section h1 {
    margin-bottom: 50px;
}

#section-title {
    color: yellowgreen;
}

.aligned-section .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aligned-section .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
} 

.aligned-section .project-info {
    padding: 50px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

.aligned-section .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

.aligned-section .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitle {
    color: #D95204;
}

.paragraph-resume {

    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
    color: white;
    border: #D95204;
    background-color: #21354b;
    border-style: solid;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 0px 0px 0px 10px;
}

.aligned-section .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}



 #refactored-site .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #B27e9e 0%, #18354b 100%);
    opacity: .2;
}
 .aligned-section .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #627e9e 0%, #21354b 100%);
    opacity: 0.5;
}

/* .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #627e9e 0%, #21354b 100%);
    opacity: 0.5;
} */

.aligned-section .project-img img {
    transition: 0.5s ease transform;
}

.aligned-section .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Seção do rodapé */

#main-footer{
    position: static;
    background-color:#21354b;
    width: 100%;
    height: fit-content;
} 

#copyright {
    font-size: 1rem;
    display: block;
    text-align:center, ;
}

.social-icon, .social-link {
    width: 30px;
    height: 30px;
    position: relative;
    display:block;
}

.social-media-name {
    border-right-style: double;
    padding: 2px;
    border-radius: 2px;
    border-right-width:5px; 
    overflow: auto;
    color:white; 
    background-color:transparent;
    display: inline-block;
    position:absolute;
    top: 3px;
    left: 110px;
}

.social-icon {
    background-color: aliceblue;
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 2px;
    position: relative;
    display: flex, inline-block;
    border-style: double;
    border-radius: 5px;
    border-color:#A64444;
    left: 80px;
}

/* Keyframes */

@keyframes text_reveal {
    100% {
        margin-left: 100%;
        color: white;
    }
}
@keyframes fade-out {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        
        opacity: 1;
        visibility: visible;
    }
}

@keyframes text_reveal_name {
    100% {
        left: 0%;
        color: #D95204;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        
        width: 0;
        left: 100%
    }
}

/* Media Query */
@media only screen and (min-width: 720px) {
    .aligned-section .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    .aligned-section .all-projects .project-info {
        height: 100%
    }

    .aligned-section .all-projects .project-img {
        height: 100%
    }

    .aligned-section .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}